h3{
    text-align: center;
}
th, td {
    padding: 20px;
    border: 1px solid;

}

table {
    width: 100%;
    font-weight: bold;
}

a{
    color: red;
}

.celda1 {
    background-color: rgb(200, 247, 131);
}

.celda2 {
    text-align: left;
    background-color: rgb(125, 213, 248);
}

.celda6 {
    text-align: right;
    background-color: rgb(238, 144, 230);
}

.posicionLetras {
    text-align: center;
}